body{
    margin:0px;
    padding: 0px;
    font-size: 16px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    
}
h1{
    padding-top: 5%;
    text-align: center;
}

.input {
    
    margin-left: 45%;
}

h2{
    padding-top: 20px;
    text-align: center;
}

hr{
    width: 250px;
    border-top: 6px solid rgb(16, 7, 95);

}


.col-sm-4{
    padding-left: 110px;
    padding-bottom: 20px;
    
}